<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <script>
    .list-inline {
    	padding-left: 0;
    	list-style: none;
    }
    </script>

  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
  <style>
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  </style>
  <%= @header.html_safe %>
  <p style="color: #666;">
    <small>
    <%= t('above_this_line', default: "Make sure your reply appears above this line") if include_body? %><br/>
    </small>
  </p>

  <p>
    <%= include_body? ? @post.html_formatted_body : link_to_topic %>
    <%= simple_format(@post.user.signature) if @post.user.signature.present? %>
  </p>
  <%= render :partial => 'posts/thumbnail', locals: { :model_name => @post } %>
  <%= render partial: 'mailer_shared/post', collection: @posts if include_history? %>
  <br/>
  <%= footer_tokens(@footer).html_safe %>
  </body>
</html>
