- title "#{AppSettings['settings.site_name']}: #{@page_title}"
- content_for :page_title do
  = render 'result/search_form'

.home
  .row
    .col-md-12.text-center
      %ul.list-inline
        - AppSettings['i18n.available_locales'].each do |l|
          %li= link_to I18n.translate("language_name", locale: l), "/#{l}", class: (I18n.locale.to_s == l ? 'bold' : '')
  .row
    %h2.text-center= t(:recent_topics)
    .col-md-12.text-center
      %ul.list-inline
        - @topics.each do |topic|
          %li= link_to topic.name, topic_posts_path(topic)
  - if knowledgebase?
    .row
      %h2.text-center= t(:browse_topics)
      - @categories.each do |category|
        - if category.docs.all.with_translations(I18n.locale).count > 0
          %div.col-md-6.article-block
            %h5.tiny-header= link_to category.name, category_path(category), id: "category-#{category.id}", class:'tiny-header'
            %ul.list-unstyled.articles
              - category.docs.with_translations(I18n.locale).ordered.active.limit(5).each_with_index do |doc|
                = render ("docs/doc"), doc: doc
              %li.article.article-more
                = link_to "More Documents", category_path(category) if category.docs.ordered.active.count > 5
  -# if tickets? && @team.count > 0
    .row
      %h2.text-center= t(:support_team)
      .col-md-12.text-center
        %ul.list-inline
          = render partial:'team_member', collection: @team
