<%= t('hello', user_name: @user.name) %>,

<%= t('new_user', default: 'Thank you for contacting us.  Your message has been received by our support team and we will be in touch with you shortly with a response.') %>

<%= t('account_generated', default: 'An account has been generated for you. To sign in, please use this link:') %> <%= edit_password_url(User, host: AppSettings['settings.site_url'], reset_password_token: @token, first: true) %>
