/* line 4, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
body {
  background-color: #fff;
}

/* line 8, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

/* line 14, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
h2 {
  margin-top: 0px;
}

/* line 18, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
table {
  margin-top: 20px;
}

/* line 22, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
td > img {
  padding-right: 20px;
  padding-bottom: 10px;
}

/* line 27, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.status {
  font-size: 120%;
}

/* line 31, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.first-post {
  background-color: #eee;
  margin-bottom: 20px;
}

/* line 38, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#upper-wrapper {
  background-color: #222;
  margin-bottom: 0;
}
/* line 41, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#upper-wrapper > div {
  padding-top: 0;
}

/* line 46, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#left-col-user-info {
  margin-top: 30px;
  padding-right: 30px;
  border-right: 1px solid #eee;
}

/* line 52, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#pipeline-wrapper {
  background-color: #eee;
  height: 160px;
}

/* line 57, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#user-info-image {
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
}

/* line 64, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#user-info-info h4,
#user-info-info span,
#user-info-info .tiny-header {
  color: #333;
}

/* line 70, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#ticket-info {
  margin-bottom: 10px;
}

/* line 74, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#admin-stats {
  height: 100px;
}

/* line 83, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#topic-options {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* line 88, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#user-info-horizontal {
  padding-top: 30px;
}

/* line 93, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.edit-topic-name input[type="text"] {
  width: 80%;
}
/* line 96, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.edit-topic-name:hover {
  cursor: pointer;
}
/* line 99, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.edit-topic-name input[type="submit"] {
  margin-left: 4px;
  height: 37px;
  vertical-align: top;
}
/* line 104, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.edit-topic-name input[type="button"] {
  margin-left: 4px;
  height: 37px;
  vertical-align: top;
}

/* line 111, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.topic-search-container {
  background-color: #ddd;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 0;
}

/* line 119, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.white-bg {
  background-color: white;
}

/* line 123, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.admin-avatar img {
  margin-right: 8px;
  margin-top: -5px;
}

/* line 128, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.channel-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 132, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.channel-wrapper label {
  margin-top: 3px;
  margin-right: 10px;
}

/* line 138, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
img.user-thumbnail {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 143, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
div.left-col-dropdown {
  width: 100%;
}
/* line 146, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
div.left-col-dropdown > .btn-default {
  width: 100%;
  text-align: left;
}

/* line 152, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
ul.dropdown-menu {
  width: 250px;
}

/* line 156, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#user-tickets ul li {
  margin-bottom: 7px;
  color: #666;
}

/* line 161, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.user-info {
  padding-top: 20px;
  padding-bottom: 0px;
}

/* line 166, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.edit-user {
  margin-right: 4px;
}

/* line 170, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.user-section {
  margin-bottom: 40px;
}

/* line 174, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.navbar.navbar-default {
  background-color: #222;
}

/* line 178, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.navbar-default .navbar-brand {
  color: white;
  font-weight: normal;
}

/* line 183, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.navbar-brand {
  padding-top: 15px;
  margin-right: 40px;
}

/* line 188, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.navbar-right {
  margin-right: -28px;
}

/* line 192, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.mailbox {
  padding-right: 10px;
  padding-bottom: 8px;
}

/* line 197, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.ticket-control {
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
}

/* line 203, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#article-editor {
  border: 1px solid #eee;
}

/* line 207, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#editor {
  min-height: 500px;
}

/* line 211, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
trix-editor {
  min-height: 500px;
}

/* line 215, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#toolbar {
  border-bottom: 1px solid #eee;
}

/* line 219, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.no-tickets {
  margin-top: 20%;
}
/* line 222, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.no-tickets span {
  color: #ccc;
}
/* line 225, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.no-tickets span i {
  font-size: 48px;
}

/* line 231, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.dummy {
  margin-top: 110%;
}

/* line 235, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.stats {
  display: block;
  padding: 4px 5px;
  margin-bottom: 18px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 100px;
  max-height: 100px;
  text-align: center;
}
/* line 255, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.stats .hover-stats {
  cursor: pointer;
  border: 1px solid #666;
  box-shadow: 0px 0px 10px #eee;
}
/* line 261, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.stats .selected-stats {
  color: #000;
  cursor: pointer;
  border: 2px solid #666;
  box-shadow: 0px 0px 10px #eee;
}

/* line 269, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
a.stats:hover,
a.stats:focus,
a.stats.active {
  border-color: #004084;
}

/* line 275, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.has-arrow {
  position: relative;
  border: 0px solid #333;
  height: 100px;
}
/* line 280, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.has-arrow:after, .has-arrow:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 95%;
  top: 40%;
  position: absolute;
  width: 0;
}
/* line 291, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.has-arrow:after {
  border-width: 10px;
  border-left-color: #fff;
  top: 40%;
}
/* line 297, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.has-arrow:before {
  border-width: 11px;
  border-left-color: #ddd;
  top: calc(40% - 1px);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 306, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.has-arrow.over:before {
  border-width: 11px;
  border-left-color: #333;
  top: calc(40% - 1px);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 316, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.no-arrow {
  position: relative;
  border: 0px solid #333;
  height: 100px;
}

/* line 323, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.topic-checkbox {
  margin-top: 13px !important;
}

/* line 328, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.topic span.label-count {
  margin-top: -11px;
  margin-right: 10px;
  margin-left: 10px;
}

/* line 334, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-grid {
  margin-top: 40px;
}

/* line 338, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-section {
  margin-bottom: 50px;
  margin-top: 40px;
}
/* line 342, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-section h2 {
  margin-bottom: 50px;
  margin-top: 30px;
}

/* line 348, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-menu-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 353, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.active-settings-link {
  font-weight: bold;
}

/* line 357, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
ul.settings-menu {
  margin-top: 40px;
}

/* line 361, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-icon {
  font-size: 20px;
  color: #333;
}

/* line 366, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-menu-icon {
  margin-right: 5px;
  font-size: 110%;
  color: #333;
}

/* line 374, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.theme label {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
/* line 380, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.theme img {
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 387, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#post-images {
  margin-top: 30px;
}
/* line 390, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#post-images ul li.image img {
  margin-top: -20px;
}
/* line 394, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#post-images ul li.raw {
  border: 1px solid #ddd;
  width: 125px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}
/* line 401, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
#post-images ul li.raw i {
  font-size: 36px;
  color: #ccc;
}

/* line 409, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.color-sample {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 417, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.new-tag {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 422, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.new-tag input {
  width: 90%;
}

/* line 427, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-panel .checkbox {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
/* line 432, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-panel .checkbox label {
  padding-left: 0;
}

/* line 437, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.bootstrap-switch {
  float: right;
  margin-left: 20px;
}

/* line 442, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.full-width {
  width: 100%;
}

/* line 446, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.settings-subsection {
  margin-bottom: 40px;
}

/* line 450, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.subitem {
  margin-left: 3%;
  width: 97%;
}

/* line 455, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.btn.post-dropdown {
  padding: 6px 0px;
}

/* line 459, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 464, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.post-cc-style {
  color: #999;
}

/* line 470, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.shortcut-row {
  height: 50px;
  padding-top: 15px;
  border-bottom: 1px solid #eee;
}
/* line 475, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.shortcut-row .key {
  border: 1px #ddd solid;
  padding: 5px;
  font-weight: bold;
}

/* line 482, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.keyboard-shortcuts h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 486, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.keyboard-shortcuts h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 494, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.team-members {
  margin-top: 40px;
}

/* line 498, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.agent {
  margin-bottom: 50px;
}
/* line 502, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.agent .agent-stat {
  margin-bottom: 25px;
}
/* line 505, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.agent .agent-id {
  margin-bottom: 35px;
}
/* line 508, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.agent .add-team-member {
  margin-top: 200px;
}
/* line 511, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.agent .add-team-member i {
  font-size: 48px;
  color: #ccc;
}

@media (max-width: 767px) {
  /* line 520, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h1 {
    font-size: 150%;
  }

  /* line 523, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h1#how-help {
    font-size: 190%;
  }

  /* line 526, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h2 {
    font-size: 150%;
    margin-top: 25px;
  }

  /* line 530, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .checkbox-col {
    width: 10px;
  }

  /* line 533, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  #status-mobile-dropdown {
    margin-left: 5px;
    margin-top: -5px;
  }

  /* line 538, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .post-menu {
    margin-top: 0px;
  }

  /* line 541, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .settings-grid-block {
    margin-bottom: 10px;
  }

  /* line 544, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .settings-menu-icon {
    font-size: 20px;
  }

  /* line 548, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .agent .add-team-member {
    margin-top: 20px;
  }

  /* line 553, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="text"] {
    width: 60%;
  }
  /* line 556, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="submit"] {
    height: 30px;
  }
  /* line 559, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="button"] {
    height: 30px;
  }
}
@media (min-width: 768px) {
  /* line 566, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h1 {
    font-size: 190%;
  }

  /* line 570, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h2 {
    margin-top: 45px;
  }

  /* line 573, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats {
    padding-top: 30%;
  }

  /* line 576, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats h2 {
    color: #666;
    font-size: 200%;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* line 582, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  #pipeline-wrapper {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  /* line 586, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .settings-grid-block {
    min-height: 70px;
    margin-bottom: 10px;
  }

  /* line 590, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .settings-grid-row {
    margin-bottom: 20px;
  }

  /* line 594, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="text"] {
    width: 80%;
  }
}
@media (min-width: 992px) {
  /* line 601, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h1 {
    font-size: 200%;
  }

  /* line 604, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats {
    padding-top: 20%;
  }

  /* line 607, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats h2 {
    color: #666;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* line 613, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  #pipeline-wrapper {
    padding-bottom: 0;
    padding-top: 10px;
  }

  /* line 618, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="text"] {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  /* line 625, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  h1 {
    font-size: 220%;
  }

  /* line 628, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats {
    padding-top: 10%;
  }

  /* line 631, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .stats h2 {
    color: #666;
    font-size: 350%;
    margin-top: 0px;
    margin-bottom: 0;
  }

  /* line 637, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  #pipeline-wrapper {
    padding-bottom: 0;
    padding-top: 10px;
  }

  /* line 641, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .settings-grid-row {
    margin-bottom: 20px;
  }

  /* line 645, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .edit-topic-name input[type="text"] {
    width: 80%;
  }
}
@media print {
  /* line 652, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .add-team-member {
    display: none;
  }

  /* line 656, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .admin-options {
    display: none;
  }

  /* line 660, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .btn-group {
    display: none;
  }

  /* line 664, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
  .label {
    display: none;
  }
}
/* line 669, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.selectize-control.form-control {
  border: 0;
}

/* line 673, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.overflow-visible {
  overflow: visible;
}

/* line 677, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.dropdown-form {
  padding-left: 20px;
}

/* line 681, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.datepicker.datepicker-dropdown {
  min-width: 0;
}
/* line 684, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.datepicker.datepicker-dropdown tr {
  height: 0;
}

/* line 689, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.search-results {
  max-height: 400px;
  overflow-y: scroll;
}
/* line 692, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.search-results .change-user-result {
  padding: 5px;
  min-height: 40px;
  position: relative;
}
/* line 696, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.search-results .change-user-result:hover, .search-results .change-user-result:focus {
  background-color: #ccc;
}
/* line 700, /home/azul/code/helpy/app/assets/stylesheets/admin.scss */
.search-results .change-user-result .centering {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
