/* line 1, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
html {
  height: 100%;
}

/* line 5, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 11, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
body {
  min-height: 100%;
  position: relative;
}

/* line 16, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.content {
  margin-bottom: 200px;
}

/* line 20, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
a {
  color: #333;
  text-decoration: none;
  overflow: hidden;
}
/* line 25, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
a.list-group-item {
  border: 0px;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 33, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
tr {
  height: 50px;
}
/* line 36, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
tr.even td {
  border-top: 1px #ddd solid;
  background-color: #fff;
  padding-top: 5px;
}
/* line 42, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
tr.odd td {
  border-top: 1px #ddd solid;
  padding-top: 5px;
}

/* line 48, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
th {
  font-size: 100%;
  color: #666;
  border-bottom: #ddd solid 1px;
  text-transform: uppercase;
}

/* line 55, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
td,
th {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 63, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
tbody {
  border: 0px solid #333;
}

/* line 67, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
h1 {
  font-family: 'Droid Sans', serif;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #feffe9;
}

@media screen and (max-width: 767px) {
  /* line 80, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h1 {
    font-size: 150%;
  }

  /* line 83, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h1#how-help {
    font-size: 190%;
  }

  /* line 86, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h2 {
    font-size: 150%;
  }
}
@media screen and (min-width: 768px) {
  /* line 92, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h1 {
    font-size: 190%;
  }
}
@media screen and (min-width: 992px) {
  /* line 99, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h1 {
    font-size: 200%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 105, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  h1 {
    font-size: 220%;
  }
}
/* line 112, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
textarea {
  width: 98%;
  height: 175px;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
  border: 1px solid #c4c4c4;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

/* line 127, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.selected {
  background-color: #eee;
}

/* line 131, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* line 137, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 144, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#page-title {
  padding-top: 30px;
  background-color: #feffe9;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* line 150, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#page-title.row {
  padding-top: 10px;
}

/* line 155, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#page-title-right > div > form {
  margin-top: 20px;
}

/* line 159, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
ul.breadcrumb {
  background-color: #feffe9;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* line 166, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#upper-wrapper {
  margin-bottom: 5px;
  padding: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px #c4c4c4;
  -moz-box-shadow: 0px 0px 8px 0px #c4c4c4;
  box-shadow: 0px 0px 12px 0px #c4c4c4;
}
/* line 174, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#upper-wrapper > div {
  padding-top: 10px;
  padding-bottom: 0px;
}

/* line 180, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div.add-form {
  background-color: rgba(192, 255, 193, 0.25);
  padding: 10px;
  margin-top: 40px;
}

/* line 186, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div.widget-form {
  padding: 10px;
  margin-top: 0px;
}

/* line 192, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.add-screenshots {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 197, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.attachinary-thumbnails {
  margin-top: 10px;
}

/* line 201, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.form-subhead {
  margin-bottom: 25px;
}

/* line 205, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
label {
  font-weight: normal;
  font-size: 100%;
  color: #666;
}
/* line 209, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
label.required:after {
  content: " *";
}

/* line 214, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
thead {
  margin-bottom: 20px;
}

/* line 218, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div#tagged-with {
  margin-top: 20px;
  padding: 5px;
}

/* line 223, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div.admin-tools {
  background-color: #eee;
  padding: 5px;
}

/* line 228, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.border-bottom {
  border-bottom: 1px solid #eee;
}

/* line 232, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.border-right {
  border-right: 1px solid #eee;
}

/* line 236, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.tiny-header {
  font-size: 100%;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/* line 246, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.logo {
  padding-right: 5px;
  margin-top: -9px;
}

/* line 251, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label {
  display: inline;
  padding: .4em .6em .5em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 264, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-private {
  border: 2px dashed #666;
  color: #666;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 278, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-team {
  border: 2px dashed gray;
  color: #666;
  background-color: lightgray;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 293, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-collapsed {
  position: relative;
  top: -0.7em;
  border: 1px solid #eee;
  background-color: #fff;
  color: #999;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  cursor: pointer;
}

/* line 311, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-count {
  position: relative;
  top: .5em;
  border: 1px solid #999;
  background-color: #fff;
  color: #999;
  display: inline;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* line 327, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-message-tagging {
  margin-right: 2px;
  margin-bottom: -15px;
  text-transform: uppercase;
}

/* line 333, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-user-tagging {
  margin-right: 2px;
  text-transform: uppercase;
}

/* line 338, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-doc-tagging {
  margin-left: 2px;
  margin-right: 2px;
  text-transform: uppercase;
}

/* line 345, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-a {
  background-color: #1abc9c;
}

/* line 348, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-b {
  background-color: #16a085;
}

/* line 351, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-c {
  background-color: #f1c40f;
}

/* line 354, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-d {
  background-color: #f39c12;
}

/* line 357, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-e {
  background-color: #2ecc71;
}

/* line 360, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-f {
  background-color: #27ae60;
}

/* line 363, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-g {
  background-color: #e67e22;
}

/* line 366, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-h {
  background-color: #d35400;
}

/* line 369, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-i {
  background-color: #3498db;
}

/* line 372, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-j {
  background-color: #2980b9;
}

/* line 375, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-k {
  background-color: #e74c3c;
}

/* line 378, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-l {
  background-color: #e74c3c;
}

/* line 381, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-m {
  background-color: #9b59b6;
}

/* line 384, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-n {
  background-color: #8e44ad;
}

/* line 387, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-o {
  background-color: #bdc3c7;
}

/* line 390, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-p {
  background-color: #34495e;
}

/* line 393, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-q {
  background-color: #2c3e50;
}

/* line 396, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-r {
  background-color: #95a5a6;
}

/* line 399, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-s {
  background-color: #7f8c8d;
}

/* line 402, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-t {
  background-color: #ec87bf;
}

/* line 405, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-u {
  background-color: #d870ad;
}

/* line 408, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-v {
  background-color: #f69785;
}

/* line 411, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-w {
  background-color: #9ba37e;
}

/* line 414, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-x {
  background-color: #b49255;
}

/* line 417, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-y {
  background-color: #b49255;
}

/* line 420, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.label-z {
  background-color: #a94136;
}

/* line 424, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.active {
  background-color: #fff !important;
}

/* line 429, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.author {
  font-weight: normal;
  font-size: 85%;
}

/* line 434, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.more-important {
  font-weight: bold;
  font-size: 105%;
}

/* line 439, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
span.more-important a {
  font-weight: bold;
  font-size: 105%;
}

/* line 444, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
span.more-important a:link {
  font-weight: bold;
  font-size: 105%;
}

/* line 449, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.less-important {
  color: #666;
}

/* line 453, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
span.category-icon {
  color: #666;
  margin-bottom: 15px;
  font-size: 120%;
}

/* line 459, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.user-thumbnail {
  padding-right: 10px;
}

/* line 463, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.status-label {
  margin-left: 5px;
  margin-bottom: -15px;
  text-transform: uppercase;
}

/* line 469, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.status-label-button {
  margin-left: -7px;
  margin-bottom: -15px;
  text-transform: uppercase;
}

/* line 475, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.no-side-pad {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 480, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.space-h2 {
  margin-bottom: 50px;
}

/* line 484, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.verticalness {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* line 489, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.last-active {
  white-space: nowrap;
}

/* line 493, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.full-width {
  width: 100%;
}

/* line 497, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.content-row {
  margin-top: 40px;
}

/* line 501, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
ul.dropdown-menu li a.strong {
  font-weight: bolder;
}

/* line 505, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.active-item-shadow {
  box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
}

/* line 511, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.topic-placeholder::-webkit-input-placeholder {
  color: white;
}

/* line 515, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.topic-placeholder:-moz-placeholder {
  color: white;
}

/* line 519, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.topic-placeholder::-moz-placeholder {
  color: white;
}

/* line 523, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.topic-placeholder:-ms-input-placeholder {
  color: white;
}

/* line 527, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.social-icons {
  margin-top: 15px;
}
/* line 530, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.social-icons span {
  font-size: 150%;
}

/* line 537, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.modal-header {
  border-bottom: 0;
}

/* line 541, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.login-button,
.reset-button {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* line 547, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.badge-light {
  background-color: #eee;
}

/* line 551, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.locale-badges {
  padding-right: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}

/* line 559, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#breadcrumbs {
  margin-bottom: 20px;
}

/* line 563, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#top-bar {
  height: 5px;
  background-color: #3cceff;
}

/* line 568, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-nav ul {
  list-style-image: none;
}
/* line 571, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-nav ul li {
  font-size: 120%;
  background-color: #fff;
  list-style-image: none;
  display: block;
}
/* line 577, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-nav ul li a {
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin-right: 5px;
  padding: 8px;
  list-style-image: none;
  margin-bottom: 5px;
}
/* line 588, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-nav ul li a:hover {
  font-weight: normal;
  text-decoration: none;
  display: block;
  background-color: #eee;
  padding: 8px;
  list-style-image: none;
}
/* line 597, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-nav ul li a.current {
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin-right: 5px;
  padding: 8px;
  background-color: #555;
}

/* line 609, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#body-wrapper {
  margin-bottom: 80px;
}

/* line 613, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#did-this-help {
  margin-top: 80px;
}
/* line 616, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#did-this-help h3 {
  margin-top: 20px;
}

/* line 621, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#did-this-help-buttons {
  margin-top: 20px;
}

/* line 627, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.jumbotron {
  background-color: #fff;
  margin-bottom: 0px;
}

/* line 632, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar-brand {
  color: black;
  font-family: 'Lobster', sans-serif;
  padding: 0px;
  font-size: 180%;
  padding-top: 10px;
}
/* line 639, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar-brand a {
  color: #666;
}

/* line 644, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar {
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px;
  padding-bottom: 5px;
}
/* line 650, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar > li > a {
  background-color: #fff;
}

/* line 655, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar-right {
  margin-right: -45px;
}

/* line 659, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar-toggle {
  margin-right: 0px;
}

/* line 663, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.form-group {
  width: 100%;
}

/* line 667, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.navbar-nav .form-control {
  width: 86%;
  margin-left: 14px;
}

/* line 672, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #666;
  border-color: #666;
}

/* line 682, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.breadcrumb > li + li:before {
  content: ">\00a0";
  padding: 0 5px;
  color: #999;
}

/* line 688, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.breadcrumb > .active {
  color: #777777;
}

/* line 692, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.dropdown-menu {
  min-width: 300px;
}

/* line 698, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
h1#how-help {
  padding-top: 50px;
  padding-bottom: 70px;
}

/* line 703, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#home-search {
  background-color: #feffe9;
  padding-bottom: 100px;
}

/* line 709, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#featured-categories,
#featured-team {
  margin-top: 40px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 717, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.dummy {
  margin-top: 110%;
}

/* line 720, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.thumbnail {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding-top: calc(40% - 30px);
}

/* line 732, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.right-inner-addon {
  position: relative;
}
/* line 735, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.right-inner-addon input {
  padding-right: 30px;
}
/* line 739, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

/* line 747, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
li.team-member {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 752, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
ul.locale-list li {
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 761, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-col.affix-top {
  position: static;
  margin-top: 22px;
  width: 228px;
}

/* line 767, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#left-col.affix {
  position: fixed;
  top: 225px;
  width: 250px;
}

/* line 773, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
ul.articles {
  padding-bottom: 20px;
}

/* line 777, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
li.article {
  padding-top: 5px;
}
/* line 780, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
li.article > span {
  font-size: 70%;
}

/* line 785, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
li.article-more {
  padding-left: 12px;
}

/* line 789, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
h5.category-header {
  font-size: 110%;
  font-weight: 600;
}
/* line 793, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
h5.category-header > a {
  color: #333;
}

/* line 798, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.doc-meta {
  margin-bottom: 30px;
}

/* line 802, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.meta-header {
  margin-bottom: 5px;
}

/* line 807, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.text-content a {
  color: #004084;
}
/* line 810, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.text-content img {
  max-width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 820, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div#results-found {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* line 827, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#above-header {
  font-size: 85%;
  padding-top: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: right;
}

/* line 835, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#main-body {
  margin-top: 10px;
}

/* line 839, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div#main-body {
  height: 100%;
}

/* line 843, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#buttons ul.buttons li img {
  margin-right: 10px;
}

/* line 847, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div.status {
  float: right;
  margin-left: 30px;
}

/* line 854, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
table#forums,
table#topics,
table#posts,
table#users {
  width: 100%;
  margin-bottom: 20px;
}

/* line 862, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#forums tbody tr,
#users tbody tr,
#forums tbody tr td {
  border-bottom: 1px solid #eee;
}

/* line 870, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.collapsed-posts {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background-color: #eee;
}

/* line 877, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.post-container {
  padding: 5px;
}

/* line 881, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.post-body {
  padding-top: 15px;
  padding-left: 0px;
}

/* line 886, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.kind-reply,
.kind-note {
  margin-left: 50px;
}

/* line 891, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.kind-note {
  color: #999;
}

/* line 895, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.voting-widget {
  text-align: center;
}

/* line 899, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.vote-icon {
  font-size: 80%;
}

/* line 903, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.grid-vote {
  margin-top: 20px;
}

/* line 907, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.topic-points {
  font-size: 140%;
  font-weight: bold;
  margin-top: -5px;
}

/* line 915, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#main-content {
  background-color: #fff;
}

/* line 920, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#flash-message {
  height: 20px;
  font-size: 110%;
}

/* line 927, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#get-help-wrapper {
  background-color: #FFDF91;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 933, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#footer {
  color: #777;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
/* line 940, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#footer a {
  color: #888;
  text-decoration: none;
}
/* line 945, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#footer h5 {
  color: #fff;
}

/* line 950, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
#footer-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #222;
}

/* line 959, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.idea-box {
  max-height: 120px;
}
/* line 962, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.idea-box .thumbnail {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding-top: 10px;
  max-height: 100px;
}

/* line 978, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.asked-question {
  margin-bottom: 5px;
  font-weight: normal;
}

/* line 983, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
div.asked-question span.more-important {
  font-weight: normal;
  font-size: 100%;
}

/* line 988, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
h4.qna {
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  /* line 997, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  .dummy {
    margin-top: 110px;
  }

  /* line 1000, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  .thumbnail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-top: 10px;
    max-height: 100px;
  }
}
/* line 1015, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.checkbox label {
  position: initial;
}

/* line 1022, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
.radio .radio-label label {
  padding: 0px;
}

@media print {
  /* line 1030, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  a[href]:after {
    content: none;
  }

  /* line 1034, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  #upper-wrapper {
    display: none;
  }

  /* line 1038, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  #footer-wrapper {
    display: none;
  }

  /* line 1042, /home/azul/code/helpy/app/assets/stylesheets/base.scss */
  #did-this-help {
    display: none;
  }
}
