/* line 2, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
div#footer.row .text-left {
  float: left;
}

/* line 5, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
#posts .pull-left {
  float: right;
}

/* line 8, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
#left-col-user-info {
  border-right: 0;
  border-left: 1px solid #eee;
}

/* line 13, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
.glyphicon-chevron-right:before {
  content: "\e079";
}

/* line 17, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
.logo {
  padding-right: 0;
  padding-left: 5px;
}

/* line 23, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
textarea.form-control {
  direction: rtl;
}

/* line 26, /home/azul/code/helpy/app/assets/stylesheets/rtl.scss */
input.form-control {
  direction: rtl;
}
