==== <%= t('above_this_line', default: "Make sure your reply appears above this line") %> ====
<%= t('message_id', default: 'Message ID') %>:<%= @topic.id %>

<%= t('notify_new_public', user_name: "#{@user.name} (#{@user.email})", default: "A new public customer message has been posted by %{user_name}:") %>

<%= simple_format(@topic.posts.last.body) %>

<%= t('to_reply', default: 'Reply to this message directly or online:') %> <%= admin_topic_url(@topic, host: AppSettings['settings.site_url']) %>
