==== <%= t('above_this_line', default: "Make sure your reply appears above this line") %> ====
<%= t('message_id', default: 'Message ID') %>:<%= @topic.id %>

<%= t('notify_new_private', user_name: "#{@user.name} (#{@user.email})", default: 'A new private customer message has been received from %{user_name}:') %>

<%= simple_format(@topic.posts.last.body) %>

<%= t('to_reply', default: 'Reply directly to this email or view this online:') %> <%= admin_topic_url(@topic, host: AppSettings['settings.site_url']) %>
