<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <script>
    .list-inline {
    	padding-left: 0;
    	list-style: none;
    }
    </script>

  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
  <p>
    ==== <%= t('above_this_line', default: "Make sure your reply appears above this line") %> ====<br/>
    <%= t('message_id', default: 'Message ID') %>:<%= @topic.id %></br>
  </p>
  <p>
    <%= t('hello', user_name: @topic.user.name) %>,
  </p>
  <p>
    <%= simple_format(@topic.posts.last.body) %>
  </p>
  <%= render :partial => 'posts/thumbnail', locals: { :model_name => @topic.posts.last } %>
  <p>
    <%= t('view_online', default: 'View this online:') %> <%= ticket_url(@topic, host: AppSettings['settings.site_url']) %>
  </p>
  </body>
</html>
