==== <%= t('above_this_line', default: "Make sure your reply appears above this line") %> ====
<%= t('message_id', default: 'Message ID') %>:<%= @topic.id %>

<%= t('hello', user_name: @topic.user.name) %>,

<%= simple_format(@topic.posts.last.body) %>
<%= simple_format(@post.user.signature) if @post.user.signature.present? %>

<%= t('view_online', default: 'View this online:') %> <%= ticket_url(@topic, host: AppSettings['settings.site_url']) %>
