- title "#{AppSettings['settings.site_name']}: #{@page_title}"

.row
  .col-xs-offset-2.col-xs-8
    %ul.list-unstyled
      - AppSettings['i18n.available_locales'].each do |l|
        %li
          %a{href: "/#{l}"}
            %span{style: "font-family: monospace"}
              = "[#{l}]"
            = I18n.translate("language_name", locale: l)