<div class="container footer-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <a href="https://riseup.net/about-us"><%= I18n.t(:footer_tagline) %></a>
      </div>
      <div class="text-center">
        <ul class="list-inline">
          <li><a href="https://riseup.net/donate"><%= I18n.t(:link_donate) %></a></li>
          <li><a href="https://riseup.net/about-us"><%= I18n.t(:link_about_us) %></a></li>
          <li><a href="https://riseup.net/privacy-policy"><%= I18n.t(:link_privacy) %></a></li>
        </ul>
      </div>
      <div class="text-center">
        <%= link_to t(:powered_by), "https://github.com/helpyio/helpy" %>
      </div>
    </div>
  </div>
</div>

<div id="login-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= t('devise.sessions.new.sign_in') %></h3>
      </div>

      <div class="modal-body row">
        <%= render 'layouts/login' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
