
.login-form.col-xs-12
  .row
    .col-md-offset-3.col-md-6
      %h3= t(:recommended_signin)
      %ul.list-inline
        - Devise.omniauth_providers.each do |provider|
          %li
            - url = user_omniauth_authorize_path(provider, origin: '')
            %a.btn.btn-primary.btn-block{:class => "btn-" + provider.to_s, :data => provider, :href => url}
              %span.fa{:class => "fa-" + provider.to_s}
              = I18n.t("sign_in_with_riseup")
              =# devise.shared.links.sign_in_with_provider", provider: provider.titleize)
  .row
    %hr
    .col-md-offset-3.col-md-6
      %h3= t(:alternate_signin)
      %p= t(:alternate_signin_description)
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, placeholder: I18n.t("activerecord.attributes.user.email"), skip_label: true
        = f.password_field :password, placeholder: I18n.t("activerecord.attributes.user.password"), autocomplete: "off", skip_label: true
        .btn-toolbar
          = f.submit t('devise.sessions.new.sign_in', default: "Login"), class: 'btn btn-primary'
      %div(style = "margin-top: 10px")
        = link_to I18n.t('devise.registrations.new.sign_up'), new_registration_path(resource_name) if forums? || tickets?
        &bull;
        = link_to I18n.t('devise.passwords.new.forgot_your_password', default: "Forgot your password?"), '#', class: 'forgot-link'

.forgot-form{"style" => "display: none;", "data-title" => t('devise.passwords.new.forgot_your_password')}
  .col-md-12
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, validate: true) do |f|
      = render 'shared/error_messages', object: f.object
      = f.input :email, autofocus: true
      .reset-button
        = f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-warning'
