.container
  .row
    .col-xs-6.text-left
      %ul.list-inline
        - if user_signed_in?
          %li= link_to(t(:your_tickets), tickets_path)
        %li= link_to(t(:community), forums_path)
        %li= link_to(t(:ask_a_question), new_topic_path)
    .col-xs-6.text-right
      %ul.list-inline
        %li= link_to "[" + I18n.locale.to_s + "]", select_locale_path, style: "font-family: monospace"
        - if user_signed_in?
          - if current_user.is_admin? || current_user.is_editor? || current_user.is_agent?
            %li= link_to('Admin', admin_root_path)
          %li= link_to t(:your_profile), edit_user_registration_path
          %li= link_to(t(:logout), destroy_user_session_path)
        - else
          %li= link_to t('devise.sessions.new.sign_in'), new_user_session_path
