!!!
%html{:lang => I18n.locale}
  %head
    = render partial: 'layouts/head'
    = #theme_css
    = #css_injector
  %body
    #riseup-bar.nav-support
      = render 'layouts/riseup_bar'
    #color-bar
      #top-bar
        = render 'layouts/top_bar'
      #page-title
        = render 'layouts/page_title'
    #main
      .container
        .row
          .col-xs-12
            #content
              = bootstrap_flash
              = yield
    #footer
      = render 'layouts/footer'
