//
// An import of styles from flat theme, but just the UI elements, not the
// layout styles.
//

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

div.add-form, div.widget-form {
  padding: 0px;
  margin-top: 20px;
  //background-color: $panel-color;
  //border-radius: 4px;
}

div.widget-form {
  //margin-top: 0px;
}

div.add-form.row {
  // for forms that are also rows...
  //padding: 20px 10px
}

.add-screenshots {
  margin-top: 10px;
  margin-bottom: 10px;
}

//.attachinary-thumbnails {
//  margin-top: 10px;
//}

.form-subhead {
  margin-bottom: 25px;
}

label {
  font-weight: normal;
  font-size: 100%;
  color: #666;
  &.required:after {
    content: " *";
  }
}

thead {
  margin-bottom: 20px;
}

div#tagged-with {
  margin-top: 20px;
  padding: 5px;
}

div.admin-tools {
  background-color: #eee;
  padding: 5px;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.border-right {
  border-right: 1px solid #eee;
}

.tiny-header {
  font-size: 100%;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}


.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

//  === GLOBAL CLASSES ===

.logo {
  padding-right: 5px;
  margin-top: 10px;
}

.label {
    display: inline;
    padding: .4em .6em .5em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-message-tagging {
  margin-right: 2px;
  margin-bottom: -15px;
  text-transform: uppercase;
}

.label-user-tagging {
  margin-right: 2px;
  text-transform: uppercase;
}

.label-doc-tagging {
  margin-left: 2px;
  margin-right: 2px;
  text-transform: uppercase;
}

// Tag background colors
.label-a {
  background-color: #1abc9c;
}
.label-b {
  background-color: #16a085;
}
.label-c {
  background-color: #f1c40f;
}
.label-d {
  background-color: #f39c12;
}
.label-e {
  background-color: #2ecc71;
}
.label-f {
  background-color: #27ae60;
}
.label-g {
  background-color: #e67e22;
}
.label-h {
  background-color: #d35400;
}
.label-i {
  background-color: #3498db;
}
.label-j {
  background-color: #2980b9;
}
.label-k {
  background-color: #e74c3c;
}
.label-l {
  background-color: #e74c3c;
}
.label-m {
  background-color: #9b59b6;
}
.label-n {
  background-color: #8e44ad;
}
.label-o {
  background-color: #bdc3c7;
}
.label-p {
  background-color: #34495e;
}
.label-q {
  background-color: #2c3e50;
}
.label-r {
  background-color: #95a5a6;
}
.label-s {
  background-color: #7f8c8d;
}
.label-t {
  background-color: #ec87bf;
}
.label-u {
  background-color: #d870ad;
}
.label-v {
  background-color: #f69785;
}
.label-w {
  background-color: #9ba37e;
}
.label-x {
  background-color: #b49255;
}
.label-y {
  background-color: #b49255;
}
.label-z {
  background-color: #a94136;
}

.label-private {
  border: 2px dashed #666;
  color: #666;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-collapsed {
  position: relative;
  top: -0.7em;
  border: 1px solid #eee;
  background-color: #fff;
  color: #999;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    cursor: pointer;
}

.label-count {
  position: relative;
  top:  .5em;
  border: 1px solid #999;
  background-color: #fff;
  color: #999;
    display: inline;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.active {
  // scss-lint:disable ImportantRule
  background-color: #fff !important;
}

.author {
  font-weight: normal;
  font-size: 85%;
}

.more-important {
  font-weight: bold;
  font-size: 105%;
}

span.more-important a {
  font-weight: bold;
  font-size: 105%;
}

span.more-important a:link {
  font-weight: bold;
  font-size: 105%;
}

.less-important {
  color: #666;
}

span.category-icon {
  color: #666;
  margin-bottom: 15px;
  font-size: 120%;
}

.user-thumbnail {
  padding-right:10px;
}

.status-label {
  margin-left: 5px;
  margin-bottom: -15px;
}

.no-side-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.space-h2 {
  margin-bottom: 50px;
}

.verticalness {
  padding-top: 150px;
  padding-bottom: 150px;
}

.last-active {
  white-space: nowrap;
}

.full-width {
  width: 100%;
}

.content-row {
  margin-top: 40px;
}

ul.dropdown-menu li a.strong {
  font-weight: bolder;
}

.active-item-shadow {
    box-shadow: rgba(133, 133, 133, 0.1) 0 0 5px 2px, rgba(133, 133, 133, 0.3) 0 0 2px;
}

// These styles hide the placeholder text for the web version, and they are are overridden on the widget:

.topic-placeholder::-webkit-input-placeholder {
   color: white;
}

.topic-placeholder:-moz-placeholder {
   color: white;
}

.topic-placeholder::-moz-placeholder {
   color: white;
}

.topic-placeholder:-ms-input-placeholder {
   color: white;
}

//  == MODAL ===

.modal-header {
  border-bottom: 0;
}

.login-button,
.reset-button {
  margin-top: 30px;
  margin-bottom: 40px;
}

.badge-light {
  background-color: #eee;
}

.locale-badges {
  padding-right: 20px;
  padding-top: 10px;
}

//  === KNOWLEDGEBASE ===


#left-col.affix-top {
    position: static;
    margin-top:22px;
    width:228px;
  }

ul.articles {
  padding-bottom: 20px;
}

li.article {
  padding-top: 5px;

  > span {
    font-size: 70%;
  }
}

li.article-more {
  padding-left: 12px;
}

h5.category-header {
  font-size: 110%;
  font-weight: 600;

  > a {
    color: #333;
  }
}

.doc-meta {
  margin-bottom: 30px;
}

.meta-header {
  margin-bottom: 5px;
}

.text-content {
  a {
    color: #004084;
  }
  img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#did-this-help {
  margin-top: 60px;
  //margin-left: -25px;
}

//  === SEARCH  ===

div#results-found {
  margin-top: 15px;
  margin-bottom: 30px;
}

//  === FORUM ===

table#forums,
table#topics,
table#posts,
table#users {
  width: 100%;
  margin-bottom: 20px;
  // I don't know why tables are not give the class 'table', but
  // this simulates the effect:
  @extend .table;
}

#forums tbody tr,
#users tbody tr,
#forums tbody tr td {
  border-bottom: 1px solid #eee;
}

//  === DISCUSSION ===

.collapsed-posts {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background-color: #eee;
}

.post-container {
  padding: 5px;
}

.post-body {
  padding-top: 15px;
  padding-left: 0px;
}

.kind-reply,
.kind-note {
  margin-left: 50px;
}

.kind-note {
  color: #999;
}

.voting-widget {
  text-align: center;
}

.vote-icon {
  font-size: 80%;
}

.grid-vote {
  margin-top: 20px;
}

.topic-points {
  font-size: 140%;
  font-weight: bold;
  margin-top: -5px;
}

//  === MAIN PANEL ===

#flash-message {
  height: 20px;
  font-size: 110%;
}

//  === IDEABOARD ===

.idea-box {
  max-height: 120px;

  .thumbnail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
    padding-top: 10px;
    max-height: 100px;
  }
}

//  === Q&A ===

.asked-question {
  margin-bottom: 5px;
  font-weight: normal;
}

div.asked-question span.more-important {
  font-weight: normal;
  font-size: 100%;
}

h4.qna {
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 15px;
}

//  === OTHER MEDIA QUERIES ===

@media(max-width:767px){
  .dummy {
      margin-top: 110px;
  }
  .thumbnail {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 5px;
      right: 5px;
      padding-left: 5px;
      padding-right: 5px;
      text-align:center;
      padding-top: 10px;
      max-height: 100px;
  }
}
