//
// HEADER
//

#color-bar {
  background-color: $header-bg-color;
  background-image: url(/assets/riseup/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}


#top-bar {
  background: $topbar-bg-color;
}

#footer {
  background: #555;
  .footer-content {
    color: white;
    a {color: white;}
  }
}

//
// SSO styling
//

span.fa-sso {
  @extend .fa-star;
  padding-right: 5px;
}

a.btn-sso {
  //background-color: #922;
  //border: 1px solid #000;
  //font-weight: bold;
  //color: white !important;
}

//
// TYPOGRAPHY
//

.bold {
  font-weight: bold;
}

//
// HACKS
//

// this label is not localized, so hide it:
label[for="post_body"] {
  display: none;
}
