$header-bg-color: #333 !default;
$header-color: #fff !default;
$header-padding: 10px !default;
$body-bg: #fff !default;

//
// CORE LAYOUT
//
//  body
//    #riseup-bar
//    #color-bar
//      #top-bar
//      #page-title
//    #main
//      #content
//    #footer
//

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#riseup-bar {flex: 0 1;}
#color-bar  {flex: 0 1;}
#main       {flex: 1 1;}
#footer     {flex: 0 1;}

//
// COLOR BAR
//

#color-bar {
  background-color: $header-bg-color;
  color: $header-color;
  a {
    color: $header-color;
    &:hover {
      color: $header-color;
    }
  }
  a:visited {
    color: $header-color;
  }
}

#top-bar {
  padding: 8px 0;
  ul {margin: 0;}
}

#page-title {
  padding-top: 15px;
  padding-bottom: 15px;
  ul.breadcrumb {
    margin: 0px;
    padding: 0px;
    background: transparent;
    li:first-child {
      padding-left: 5px;
    }
    li:last-child {
      display: none;
    }
    > li + li:before {
      content: "/ ";
      padding: 0 5px;
      color: $header-color;
    }
  }
  h1, h2 {
    margin: 0;
    padding-left: 4px;
  }
  .form-group {
    margin-top: 15px;
  }
}

//
// MAIN
//

#main {
  padding-top: 20px;
}

.home h2 {
  margin: 30px !important;
}

//
// FOOTER
//

#footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}


//
// BOOTSTRAP
//

input[type="radio"] { margin-left: -10px !important; }
.radio label        { padding-left: 10px; }

//
// MEDIA ADJUSTMENTS
//

@media(max-width:767px){
  #page-title h1, h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  .article-block {
  }

  i.circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .article-icon {
    margin-bottom: 20px;
  }
}

@media(min-width:768px){
  #page-title h1, h1 {
    font-size: 200%;
  }

  i.circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    font-size: 34px;
    padding: 25px;
    margin-bottom: 20px;
  }

  .article-icon {
    margin-bottom: 20px;
  }
}

@media(min-width:992px){
  #page-title h1, h1 {
    font-size: 300%;
  }
  .article-block {
    min-height: 250px;
  }

  i.circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    font-size: 34px;
    padding: 25px;
    margin-bottom: 20px;
  }
}

@media(min-width:1200px){
  #page-title h1, h1 {
    font-size: 300%;
  }
  .article-block {
    min-height: 250px;
  }

  i.circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    font-size: 44px;
    padding: 30px;
    margin-bottom: 20px;
  }
}
