//
// bootstrap variable list: https://getbootstrap.com/customize/#less-variables
//
// google's material design pallete:
// https://material.io/guidelines/style/color.html#color-color-palette
//

//
// THEME COLORS
//

//$theme-primary: #F38630; // orange
//$theme-primary: #E65120; // burnt amber
//$theme-primary: #009688; // teal
//$theme-primary: #00BDAD; // aqua
$theme-primary: #9257AB; // lavender

$header-color: #fff;
$header-bg-color: $theme-primary;
$topbar-bg-color: rgba(0,0,0,0.1);
$panel-color: #efefef;

//
// BOOTSTRAP OVERRIDES
//

$container-lg: 970px; // makes very large screens act like medium screens
$body-bg: #fff;

$brand-primary: darken($theme-primary, 10%);
// $brand-primary: darken(#428bca, 6.5%) // bootstrap default

// most of the buttons are btn-warning, for some weird reason.
$brand-warning: $brand-primary;